# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Build outputs
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database & local secrets
*.db
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
